{% extends "base.html" %} {% block title %}Add a collection{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Add a {{ Collection }}</h3>
  {% for elem in CollAttr %}
  <div class="form-group">
    <label>{{ elem }}</label>
    <input
      type="{{ elem }}"
      class="form-control"
      id="{{ elem }}"
      name="{{ elem }}"
      placeholder="Enter {{ elem }}"
    />
  </div>
  {% endfor %}
  <br />
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}